<div class="container">
<div class="navbar-wrapper">

  
  <div class="navbar-item">
    <a href="/">Главная</a>
  </div>
  <div class="navbar-item">
    <a href="/addrecipe">Добавить Рецепт</a>
  </div>
 
</div>
</div>